<!DOCTYPE html>
<html lang="en">
  
  <head>
  	
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  
  </head>
  <body>
  	<div class="container-fluid">
  		<div class="row">
    		<div class="col-xs-8">
      <h2 class="text-primary text-center">Hello Books</h2>
    </div>
    </div>
  
  <div class="row">
    <div class="col-xs-6">
      <p><h4>You are welcome<h4><br>  We are committed to giving
      you an exceptional experience in this library.
      You decide what to read, pick it and own it for the duration
    	of your rent.
    	Axquire Knowlege with ease.</p>
    </div>
    <div class="col-xs-6">
	    <div class="body white-bg">
          <div class="form-group">
            <input class="form-control" placeholder="Username" name="username" type="text" autofocus value="">
          </div>
        	<div class="form-group">
            <input class="form-control" placeholder="Password" name="password" type="password">
          </div>


        <div class="checkbox">
          <label>
            <input type="checkbox" value="Remember Me" name="remember">
          	<span> &nbsp; Remember Me</span>
          </label>
          <span class="pull-right">
          	<label>
            	<a href="../reset/index.html"> Forgot Password?</a>
          	</label>
          </span>
      	</div>
          <input type="submit" class="btn btn-lg btn-success btn-block" value="SIGN IN" />
    	</div>
    </div>
  </div>
  <p>Things cats <span class="text-danger">love:</span></p>
  <ul>
    <li>cat nip</li>
    <li>laser pointers</li>
    <li>lasagna</li>
  </ul>
  <p>Top 3 things cats hate:</p>
  <ol>
    <li>flea treatment</li>
    <li>thunder</li>
    <li>other cats</li>
  </ol>
  <form action="/submit-cat-photo">
    <label><input type="radio" name="indoor-outdoor"> Indoor</label>
    <label><input type="radio" name="indoor-outdoor"> Outdoor</label>
    <label><input type="checkbox" name="personality"> Loving</label>
    <label><input type="checkbox" name="personality"> Lazy</label>
    <label><input type="checkbox" name="personality"> Crazy</label>
    <input type="text" placeholder="cat photo URL" required>
    <button type="submit">Submit</button>
  </form>
</div>
 



  </body>



</html>