<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Hello Books||Home</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="css/icofont.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          
          <div class="masthead offset-pull-left clearfix">
            <div class="inner">
              <h1 class="masthead-brand"><strong>HelloBooks</strong></h1>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="books.html">Library</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Unleash the Genius in You!</h1>
            <p class="lead">We are born with the potential to become Leaders, but each one of us decides to live out this reality by picking out a path of Growth. Read your way to Greatness here</p>
            <p class="lead">
              <!--buttons trigger modal page-->
              <a href="#" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#myModal">Login</a>
              <a href="#" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#myModal2">Sign Up</a>
            </p>
            <!-- Button trigger modal -->

<!-- Modal start -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
&times; </button>
<h4 class="modal-title" id="myModalLabel"> Login </h4>
</div>
<div class="modal-body">
<form class="form-signin">
        <h2 class="form-signin-heading">sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label><input type="checkbox" value="remember-me"> Remember me</label>
        </div>
      </form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default"
data-dismiss="modal">Sign in</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
&times; </button>
<h4 class="modal-title" id="myModalLabel"> Sign up </h4>
</div>
<div class="modal-body">
<form class="form-signin">
        <h2 class="form-signin-heading">Join the Readers</h2>

        <label for="inputText" class="sr-only">First name</label>
        <input type="text" id="inputName" class="form-control" placeholder="name" required autofocus>

        <label for="inputText" class="sr-only">Last name</label>
        <input type="text" id="inputName" class="form-control" placeholder="surname" required autofocus>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="email address" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="password" required>
        <label for="inputPassword" class="sr-only">confirm password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="confirm password" required>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
      </form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default"
data-dismiss="modal">Submit</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
<!-- End of the modal -->
          <div class="mastfoot">
            <div class="inner">
              <p>Hello-Books<a href="http://getbootstrap.com">Library management app</a>, by <a href="https://twitter.com/DaveMKeji">@DaveMKeji</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
